/* 
* @Author: anchen
* @Date:   2019-08-19 09:21:25
* @Last Modified by:   anchen
* @Last Modified time: 2019-08-20 09:58:53
*/
body{
    margin: 0;
    padding: 0;
}
.left-one{
    width: 100%;

    background-image: url(../img/7676586785.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 100px 0 200px 0;

}
.left-two{
    width: 474px;
    height: 629px;
    margin: 0 auto;
    background:rgba(255,255,255,1);
    box-shadow:0px 6px 12px 0px rgba(0,0,0,0.1);
    border-radius:6px;
}
.left-three{
    width: 210px;
    height: 64px;
    margin-left: 127px;
}
.left-four{
    width: 270px;
    margin-top: 45px;
    margin-left: 111px;
}
.left-four span{
    cursor: pointer;
}
.left-four span:nth-child(1){
    font-size:24px;
    font-family:PingFangSC;
    font-weight:600;
    color:rgba(255,82,81,1);
}
.left-four span:nth-child(2){
    font-size:24px;
    font-family:PingFangSCRegular;
    color:rgba(153,153,153,1);
    margin-left: 68px;
}
.left-four span:hover{
    font-weight:600;
    color:rgba(255,82,81,1);
}
.left-nine{
    width: 270px;
    margin-top: 45px;
    margin-left: 111px;
}
.left-nine span{
    cursor: pointer;
}
.left-nine span:nth-child(1){
    font-size:24px;
    font-family:PingFangSC;
    color:rgba(153,153,153,1);
}
.left-nine span:nth-child(2){
    font-size:24px;
    font-family:PingFangSCRegular;
    font-weight:600;
    color:rgba(255,82,81,1);
    margin-left: 68px;
}
.left-nine span:hover{
    font-weight:600;
    color:rgba(255,82,81,1);
}
.text{
    font-size:18px;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(153,153,153,1);
    border: 0;
    width: 150px;
    height: 25px;
}
hr{
    width: 374px;
    height: 1px;
    border: 0;
    background:rgba(153,153,153,1);
    margin-top: 15px;
}
.text-one{
    margin-top: 45px;
    margin-left: 50px;
    outline: none;
}
.text-two{
    margin-left: 50px;
    margin-top: 40px;
    outline: none;

}
.text-three{
    margin-left: 50px;
    margin-top: 40px;

}
.text-four{
    float: left;


}
.text-five{
    margin-left: 50px;
    margin-top: 40px;
    width: 260px;
}
.left-five{
    width: 394px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    background:rgba(255,82,81,1);
    box-shadow:0px 8px 16px 0px rgba(255,82,81,0.24);
    margin-left: 40px;
    margin-top: 60px;
    font-size:24px;
    font-family:PingFangSC;
    font-weight:500;
    color:rgba(255,255,255,1);
    cursor: pointer;
}
.left-six{
    width: 400px;
    height: 25px;
    margin-left: 40px;
    margin-top: 30px;
}
.left-six span{
    font-size:18px;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(102,102,102,1);
    cursor: pointer;
}
.left-six span:nth-child(2){
    margin-left: 161px;
}



.img-seven{
    width: 1469px;
    height: 122px;
    margin: 143px auto;
}
.center-one{
    margin-left: 22px;
    width: 374px;
    height: 25px;
    margin-top: 45px;

}
.center-one span{
    font-size:18px;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.center-one input{
    font-size:18px;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(153,153,153,1);
    margin-left: 30px;
    border: 0;
}
.center-two{
    margin-left: 128px;
}
.center-three{
    font-size:18px;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(51,51,51,1);
    margin-left: 128px;
    cursor: pointer;
}
.yan{
    width: 71px;
    height: 25px;
    margin-left: 128px;
    position: relative;
    top: 4px;
}
.right-one{
    width: 200px;
    height: 25px;
    margin-left: 144px;
    margin-top: 18px;
}
.right-one span:nth-child(1){
    font-size:18px;
    font-family:PingFangSC;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.right-one span:nth-child(2){
    margin-left: 17px;
    font-size:18px;
    font-family:PingFangSC;
    font-weight:500;
    color:rgba(255,82,81,1);
    cursor: pointer;
}