.left-one{
    background: #FFFFFF;
    border: 1px solid #E7E7E7;
    float: left;
    margin: 10px 0 0 10px;
    padding: 10px 0 20px 0;

}
@media (min-width: 1200px) {
    .left-one {
        width: 950px;
    }
}


.left-two{
    margin-left: 20px;
    margin-top: 25px;
}

.left-two span{
    margin-left: 14px;
    font-size:20px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(0,0,0,1);
}


.left-five{
    margin-top: 8px;
    margin-left: 12px;
    font-size:14px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(125,125,125,1);
}
.left-six{
    margin-left: 12px;
    font-size:10px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(125,125,125,1);
}
.left-seven{
    margin-top: 19px;
    margin-left: 2px;
    font-size:10px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(82,82,82,1);
}
.left-seven img{
    margin-left: 10px;
}
.left-eight{
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
.left-nine{
    width:224px;
    height:1px;
    border: 0;
    margin-top: 10px;
    background:rgba(244,244,244,1);
}
.left-ten{
    height: 43px;
    width: 224px;
    line-height: 43px;
}
.left-ten span:nth-child(1){
    float: left;
    margin-left: 13px;
    font-size:14px;
    font-family:PingFangSC-Medium,PingFang SC;
    font-weight:500;
    color:rgba(255,82,81,1);
}
.left-ten span:nth-child(2){
    float: right;
    margin-right: 13px;
    font-size:14px;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(178,178,178,1);
}