body {
    background-color: #f4f4f4;
}

.zong {
    width: 1201px;
    height: 1725px;
    margin: 20px auto;
    font-family: PingFangSC-Semibold;
}

.zong span {
    font-size: 12px;
    font-weight: 600;
    color: rgba(153, 153, 153, 1);
}

.left-top {
    width: 950px;
    height: 1698px;
    float: left;
    margin-top: 10px;
}

.left-center {
    width: 950px;

    background-color: white;
}

.top-one {
    width: 850px;
    height: 37px;
    margin-left: 66px;
    padding-top: 34px;
}

.top-one span {
    font-weight: 600;
}

.perfect {
    cursor: pointer;
}

.top-two {
    /*width: 513px;*/
    height: 17px;
    margin-top: 35px;
    margin-left: 66px;
}

.top-two span {
    font-size: 12px;
    font-weight: 600;
}

.top-three {
    width: 787px;
    height: 20px;
    margin-left: 65px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(151, 151, 151, 1);
}

.top-four {
    width: 900px;
    height: 20px;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.top-four div {
    float: left;
    width: 100px;
    height: 20px;
    text-align: center;
}

.top-four div:nth-child(1) {
    margin-left: 3px;
    color: rgba(51, 51, 51, 1);
}

.top-four div:nth-child(2) {
    margin-left: 8px;
    color: rgba(51, 51, 51, 1);
}

.top-four div:nth-child(3) {
    margin-left: 19px;
    color: rgba(51, 51, 51, 1);
}

.top-four div:nth-child(4) {
    margin-left: 47px;
    color: rgba(51, 51, 51, 1);
}

.top-four div:nth-child(5) {
    margin-left: 80px;
    color: rgba(153, 153, 153, 1);
}

.top-four div:nth-child(6) {
    margin-left: 55px;
    color: rgba(153, 153, 153, 1);
}

.top-five {
    background-color: #f4f4f4;
    margin-left: 18px;
    margin-top: 45px;
}

.top-five div {
    width: 110px;
    float: left;
    margin-top: 11px;
    height: 1px;
    border: 0;
    background-color: #bcbcbc;
}

.top-five div:nth-child(2n) {
    margin-top: 0;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    background: rgba(188, 188, 188, 1);
}

.top-six {
    width: 949px;
    height: 1px;
    border: 0px;
    background-color: #e7e7e7;
    margin-top: 40px;
}

.top-seven {
    margin-top: 12px;
    margin-left: 105px;
}

.top-seven div:nth-child(1) span {
    font-size: 12px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(153, 153, 153, 1);
}

.top-seven div:nth-child(2) span {
    font-size: 13px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(153, 153, 153, 1);
}

.center-one {
    width: 950px;
    height: 665px;
    background-color: white;
    margin-top: 30px;
}

.one-one {
    margin-left: 70px;
    padding-top: 40px;
}

.one-one span {
    font-size: 22px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.one-two {
    margin-left: 80px;
    margin-top: 30px;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(153, 153, 153, 1);
}

.one-three {
    margin-left: 80px;
    margin-top: 125px;
    font-size: 22px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.one-four {
    margin-left: 80px;
    margin-top: 10px;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(153, 153, 153, 1);
}

.one-five {
    width: 950px;
    margin-top: 51px;
    border-bottom: 1px dashed #bcbcbc;
}

.one-six {
    width: 770px;
    height: 160px;
    border: 1px solid rgba(231, 231, 231, 1);
    margin-left: 80px;
    margin-top: 30px;
    padding-left: 20px;
    line-height: 30px;
    overflow: hidden;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.one-seven {
    position: relative;
    left: 100px;
    top: -37px;
    font-size: 12px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.one-seven span {
    color: #ff5251;
}

.one-eight {
    margin-left: 496px;
}

.one-eight div {
    float: left;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.one-eight img {
    margin-left: 20px;
    float: left;
    cursor: pointer;
}

.one-nine {
    width: 950px;
    height: 87px;
    background: rgba(255, 255, 255, 1);

}

.one-nine div {
    margin-left: 656px;
    margin-top: 31px;
    line-height: 31px;
}

.one-nine div span {
    position: relative;
    cursor: pointer;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: rgba(255, 82, 81, 1);
}

.right {
    width: 231px;
    height: 641px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-family: PingFangSC-Medium;
}

.right span {
    font-size: 14px;
    font-weight: 600;
    color: rgba(51, 51, 51, 1);
}

.right-top {
    width: 231px;
    height: 160px;
    background-color: white;
    margin-bottom: 30px;
}

.right-top-one {
    width: 144px;
    height: 22px;
    margin-left: 44px;
    padding-top: 26px;
}

.right-top-one span {
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.right-top-two {
    width: 160px;
    height: 32px;
    background: rgba(255, 82, 81, 1);
    margin-left: 36px;
    margin-top: 24px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
}

.right-top-two span {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.right-top-three {
    width: 101px;
    height: 22px;
    margin-left: 66px;
    margin-top: 9px;
}

.right-top-three span {
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.right-bottom {
    width: 231px;
    height: 428px;
    background-color: white;
    margin-top: 3px;
}

.right-bottom-one {
    width: 220px;
    height: 79px;
    margin-left: 10px;
}

.inter-one {
    width: 111px;
    height: 22px;
    margin-left: 12px;
    padding-top: 20px;
}

.inter-one span {
    font-size: 16px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.inter-two {
    width: 191px;
    height: 17px;
    margin-left: 12px;
    margin-top: 30px;
}

.inter-two span {
    font-size: 12px;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.detail {
    cursor: pointer;
}