.di{
    background-color: #f4f4f4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#hui{
    background:rgba(0,0,0,1);
    opacity:0.4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}
.left-one{
    width: 1200px;
    margin: 20px auto;
}
.left-two{
    font-size:12px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(153,153,153,1);
}
.left-three{
    width: 940px;
    float: left;
    margin-top: 10px;
}
.left-four{
    width: 940px;
    height: 429px;
    background-color: white;
}
.left-five{
    margin-left: 32px;
    margin-top: 29px;
    width: 300px;
    height: 360px;
    float: left;
}
.left-five img{
    cursor: pointer;
}
.left-six{
    width: 300px;
    margin-top: 8px;
}
.left-six img{
    border: 2px solid transparent;
}
.left-six img:hover{
    border: 2px solid red;
}
.left-seven{
    width: 538px;
    height: 360px;
    float: left;
    margin-left: 40px;
    margin-top: 31px;
    background-color: white;
}
.left-eight{
    font-size:26px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
}
.left-nine{
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.left-ten{
    width: 538px;
    height: 70px;
    background:rgba(244,244,244,1);
    margin-top: 16px;
    line-height: 70px;
}
.left-ten span{
    float: left;
}
.fen{
    float: left;
    width: 20px;
    height: 16px;
}
.left-ten img{
    margin-top: 27px;
    margin-left: 5px;
    float: left;
    cursor: pointer;
}
.center-one{
    width: 538px;
    height: 46px;
    margin-top: 12px;
}
.center-two{
    width: 268px;
    height: 44px;
    float: left;
    text-align: center;
    line-height: 44px;
    border-bottom: 1px dashed #e7e7e7;
    border-top: 1px dashed #e7e7e7;
}
.center-two span:nth-child(1){
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.center-two span:nth-child(2){
    font-size:14px;
    font-weight:500;
    color:rgba(255,82,81,1);
}
.center-three{
    width: 325px;
    line-height: 44px;
    margin-top: 13px;
}
.center-three img{
    float: left;
    margin-left: 24px;
    margin-top: 14px;
    cursor: pointer;
}
.center-three img:hover{
    content: url(../img/shoucang1.png);
}
.center-three span{
    font-size:15px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.center-four{
    width: 180px;
    height: 44px;
    text-align: center;
    float: left;
    background-color: #ff5251;
    cursor: pointer;
}
.center-four span{
    font-size:16px;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.center-five{
    width: 289px;
    height: 20px;
    margin-top: 40px;
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
}
.center-six{
    width: 170px;
    height: 24px;
    margin-top: 10px;
}
.center-six span{
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(51,51,51,1);
}
.center-six img{
    cursor: pointer;
    margin-left: 5px;
}
.center-seven{
    width: 470px;
    height: 61px;
    margin-top: 20px;
}
.center-eight{
    width: 150px;
    height: 58px;
    float: left;
    text-align: center;
    line-height: 58px;
    margin-left: 10px;
    margin-top: 3px;
    background-color: #e7e7e7;
    cursor: pointer;
}
.center-eight:hover{
    margin-top: 0;
    background-color: white;
    border-top: 3px solid #ff5251;
}
.center-eight span{
    font-size:16px;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.display{
    display: none;
}
.center-nine{
    width: 940px;
   padding: 0 20px 60px 20px;
    background-color: white;
}
.center-ten{
    width: 164px;
    height: 74px;
    margin: 0 auto;
    padding-top: 31px;
    text-align: center;
}
.center-ten span{
    font-size:26px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(0,0,0,1);
}
.right-one{
    width: 696px;
    height: 31px;
    margin-left: 119px;
    margin-top: 30px;
}
.right-one span{
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(0,0,0,1);
}
.right-two{
    width: 940px;
    height: 284px;
    margin-top: 30px;
    background-color: white;
}
.right-three{
    width: 940px;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #e7e7e7;
}
.right-three span{
    margin-left: 62px;
    font-size:16px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.right-four{
    width: 940px;
    height: 115px;
    margin-top: 30px;
}
.right-five{
    width: 940px;
    height: 20px;
    margin-top: 18px;
}


.top-four{
    width: 940px;
    height: 54px;
    margin-top: 20px;
    line-height: 54px;
    background-color: white;
}
.top-four span:nth-child(1){
    margin-left: 62px;
    font-size:16px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.top-four span:nth-child(2){
    margin-left: 708px;
    cursor: pointer;
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(0,0,0,1);
}
.fuwu-one{
    width: 940px;
    height: 300px;
    overflow: hidden;
    margin-top: 11px;
}
.fuwu-one div:nth-child(1){
    margin-left: 0;
}
.top-five{
    width: 224px;
    height: 300px;
    margin-left: 14px;
    float: left;
    background-color: white;
}
.top-six{
    width: 196px;
    height: 22px;
    margin-top: 21px;
    margin-left: 13px;
    margin-bottom: 4px;
}
.top-six span:nth-child(1){
    font-size:16px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,82,81,1);
}
.top-six span:nth-child(2){
    margin-left: 60px;
    font-size:10px;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.top-seven{
    width: 196px;
    margin-left: 12px;
    font-size:14px;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.top-eight{
    width: 240px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.top-nine{
    width: 240px;
    height: 357px;
    background-color: white;
}
.top-nine img{
    margin-top: 20px;
    margin-left: 20px;
}
.top-ten{
    width: 93px;
    height: 38px;
    float: left;
    text-align: center;
    line-height: 38px;
    background-color:#ff5251;
    cursor: pointer;
}
.top-ten span{
    font-size:14px;
    font-weight:500;
}
.bottom-one{
    width: 240px;
    padding-bottom: 20px;
    margin-top: 40px;
    background-color: white;
}
.bottom-two{
    width: 201px;
    height: 22px;
    line-height: 22px;
    padding-top: 14px;
    margin-left: 20px;
}
.bottom-two span:nth-child(1){
    font-size:16px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.bottom-two span:nth-child(2){
    margin-left: 65px;
    cursor: pointer;
    font-size:12px;
    font-weight:500;
    color:rgba(153,153,153,1);
}
.bottom-three{
    width: 195px;
    height: 60px;
    margin-left: 22px;
    margin-top: 20px;
}
.bottom-four{
    width: 124px;
    height: 60px;
    margin-left: 10px;
    float: left;
}
.bottom-five{
    width: 124px;
    height: 42px;
}
.bottom-five span{
    font-size:12px;
    font-weight:500;
    color:rgba(153,153,153,1);
}
.bottom-six{
    width: 240px;
    padding-bottom: 27px;
    margin-top: 20px;
    background-color: white;
}
.bottom-seven{
    width: 200px;
    height: 145px;
    margin-top: 30px;
    margin-left: 20px;
}
.bottom-seven span{
    font-size:14px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.bottom-eight{
    width: 240px;
    height: 241px;
    margin-top: 20px;
    background-color: white;
}
.bottom-nine{
    width: 206px;
    height: 52px;
    line-height: 52px;
    margin-left: 20px;
    border-bottom: 1px solid #e7e7e7;
}
.bottom-nine span{
    font-size:16px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.bottom-ten{
    margin-top: 25px;
    margin-left: 20px;
    line-height: 22px;
    font-size:12px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.one{
    width: 240px;
    height: 160px;
    background-color: white;
    margin-top: 40px;
}
.two{
    width: 80px;
    height: 22px;
    padding-top: 14px;
    margin-left: 20px;
}
.three{
    width: 150px;
    height: 78px;
    line-height: 27px;
    margin-left: 22px;
    margin-top: 29px;
    font-size:12px;
    font-weight:500;
    color:rgba(51,51,51,1);
}

.zhong-one{
    width: 940px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: white;
    font-family:PingFangSC-Semibold;
}
.table-one{
    margin-left: 32px;
    text-align: center;
    line-height: 38px;
}
.table-one tr td{
    width: 286px;
    height: 39px;
    border: 1px solid #ececec;
}
.table-one tr:nth-child(1) td{
    background-color: #e5e5e5;
}
.table-one tr:nth-child(1) td:nth-child(2){
    position: relative;
    left: -3px;
}
.table-one tr:nth-child(1) td:nth-child(3){
    position: relative;
    left: -6px;
}
.table-one tr:nth-child(2) td:nth-child(1){
    border-top: 0;
    position: relative;
    top: -6px;
}
.table-one tr:nth-child(2) td:nth-child(2){
    position: relative;
    top: -3px;
    left: -3px;
}
.table-one tr:nth-child(2) td:nth-child(3){
    position: relative;
    top: -3px;
    left: -6px;
}
.table-one tr:nth-child(3) td:nth-child(1){
    position: relative;
    top: -6px;
    left: -3px;
}
.table-one tr:nth-child(3) td:nth-child(2){
    position: relative;
    top: -6px;
    left: -6px;
}
.table-one tr:nth-child(1) td{
    font-size:14px;
    font-weight:600;
    color:rgba(51,51,51,1);
}
.table-one tr:nth-child(2) td{
    font-size:12px;
    font-weight:600;
    color:rgba(51,51,51,1);
}
.table-one tr:nth-child(2) td:nth-child(1){
    font-size:26px;
    color:rgba(255,82,81,1);
}
.table-one tr:nth-child(3) td{
    font-size:11px;
    font-weight:600;
    color:rgba(153,153,153,1);
}
.table-one img{
    float: left;
    margin-left: 5px;
    cursor: pointer;
}
.table-two{
    margin: 10px 0 10px 0;
    font-size:14px;
    font-family:PingFangSC-Semibold,PingFang SC;
    font-weight:600;
    color:rgba(153,153,153,1);
}
.table-two tr td{
    text-align: center;
    height: 30px;
}
.tr-one td:nth-child(1){
    width: 260px;
}
.tr-one td:nth-child(2){
    width: 200px;
}
.tr-one td:nth-child(3){
    width: 200px;
}
.tr-one td:nth-child(4){
    width: 185px;
}
.tr-two td{
    border-bottom: 1px solid #ececec;
}
.tr-two td:nth-child(2){
    color: #FF5251;
}
.tables{
    margin-top: -11px;
    margin-left: 80px;
}
.zhong-two{
    color:rgba(255,82,81,1);
}
.zhong-three{
    width: 376px;
    height: 29px;
    line-height: 29px;
    margin-left: 33px;
    margin-top: 46px;
}
.zhong-four{
    width: 83px;
    height: 29px;
    background-color: #ff5251;
    text-align: center;
    float: left;
    font-size:12px;
    font-weight:600;
    color:rgba(255,255,255,1);
}
.zhong-five{
    float: left;
    margin-left: 30px;
    font-size:12px;
    font-weight:600;
    color:rgba(153,153,153,1);
}
.zhong-five span{
    color: #ff5251;
}
.zhong-six{
    width: 878px;
    height: 40px;
    margin-left: 33px;
    margin-top: 20px;
    line-height: 40px;
    background-color: #e5e5e5;
}
.zhong-six span{
    font-size:14px;
    font-weight:600;
    color:rgba(51,51,51,1);
}
.zhong-seven{
    width: 878px;
    margin-left: 33px;
}
.new{
    height: 550px;
}
.hr-one{
    width: 880px;
    height: 1px;
    border: 0;
    background-color: #e7e7e7;
    margin-left: 33px;
    margin-top: 20px;
}
.zhong-eight{
    width: 365px;
    height: 119px;
    margin-left: 292px;
    margin-top: 83px;
}
.zhong-eight img{
    float:left;
}
.zhong-eight div{
    width: 104px;
    height: 37px;
    float: left;
    margin-left: 36px;
    margin-top: 39px;
    font-size:26px;
    font-weight:500;
    color:rgba(102,102,102,1);
}



.guyong{
    width: 650px;
    height: 420px;
    background-color: white;
    position: fixed;
    left: 635px;
    top: 320px;
    z-index: 2;
    display: none;
}
.guyong-one{
    width: 650px;
    height: 59px;
    border-bottom: 1px solid #e7e7e7;
    line-height: 59px;
}
.guyong-one span{
    margin-left: 20px;
    font-size:20px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
}
.guyong-one img{
    margin-left: 512px;
    cursor: pointer;
}
.guyong-two{
    width: 47px;
    height: 20px;
    float: left;
    margin-left: 74px;
    margin-top: 21px;
}
.guyong-two span{
    font-size:14px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.guyong-three{
    width: 460px;
    height: 140px;
    float: left;
    margin-left: 16px;
    margin-top: 16px;
}
.guyong-three input{
    width: 447px;
    height: 29px;
    padding-left: 13px;
    border: 1px solid #e7e7e7;
}
.guyong-three div{
    width: 460px;
    height: 110px;
    border: 1px solid #e7e7e7;
    position: relative;
    top: -1px;
}
.guyong-four{
    width: 543px;
    height: 30px;
    line-height: 30px;
    margin-left: 56px;
    margin-top: 10px;
}
.guyong-four span{
    float: left;
    font-size:14px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.guyong-four input{
    float: left;
    width:385px;
    height:30px;
    padding-left: 13px;
    margin-left: 22px;
    background:rgba(255,255,255,1);
    border:1px solid rgba(231,231,231,1);
    border-right: 0;
}
.guyong-four div{
    float: left;
    width:60px;
    height:30px;
    position: relative;
    left: -1px;
    text-align: center;
    background:rgba(255,82,81,1);
    border:1px solid rgba(231,231,231,1);
    cursor: pointer;
    font-size:12px;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.guyong-five{
    width: 174px;
    height: 17px;
    margin-left: 239px;
    margin-top: 20px;
}
.guyong-five span{
    font-size:12px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(255,82,81,1);
}
.guyong-six{
    width: 212px;
    height: 37px;
    cursor: pointer;
    margin-left: 220px;
    margin-top: 30px;
    text-align: center;
    line-height: 37px;
    background-color: #ff5251;
}
.guyong-six span{
    font-size:16px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
}
.guyong1{
    width: 860px;
    height: 1059px;
    background-color: white;
    position: absolute;
    left: 532px;
    top: 190px;
    z-index: 2;
    display: none;
}
.guyong1-one{
    width: 860px;
    height: 37px;
    line-height: 37px;
    margin-top: 13px;
}
.guyong1-one span{
    font-family:PingFangSC-Semibold;
    font-weight:600;
}
.guyong1-one img{
    cursor: pointer;
    margin-left: 480px;
}
.guyong1-two{
    width: 810px;
    height: 54px;
    margin-left: 20px;
    margin-top: 12px;
}
.guyong1-two span{
    font-size:13px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(153,153,153,1);
}
.guyong1-three{
    width: 133px;
    height: 21px;
    text-align: center;
    line-height: 18px;
    margin-left: 287px;
    background-color: #ff5251;
    float: left;
}
.guyong1-three span{
    font-size:12px;
    font-weight:500;
    color:rgba(255,255,255,1);
}
.guyong1-four{
    float: left;
    width: 10px;
    height: 10px;
    background-color: #ff5251;
    transform: rotate(45deg);
    position: relative;
    left: -70px;
    top: 16px;
}
.guyong1-five{
    width: 810px;
    height: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
    margin-top: 7px;
}
.guyong1-five div{
    width: 50%;
    height: 10px;
    border-radius: 5px;
    background-color: #ff5251;
}
.guyong1-six{
    width: 78px;
    height: 22px;
    margin-left: 20px;
    margin-top: 30px;
    font-size:16px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.guyong1-six span{
    color: #ff7e33;
}
.guyong1-seven{
    width: 795px;
    height: 42px;
    padding-left: 15px;
    margin-left: 20px;
    margin-top: 12px;
    border:1px solid rgba(231,231,231,1);
    font-size:14px;
    font-weight:500;
    color:rgba(153,153,153,1);
}
.guyong1-eight{
    width: 163px;
    height: 22px;
    margin-left: 20px;
    margin-top: 20px;
}
.guyong1-eight span{
    font-size:16px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.guyong1-nine{
    width: 140px;
    height: 20px;
    margin-left: 26px;
    margin-top: 12px;
}
.guyong1-nine span:nth-child(1){
    font-size:12px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(153,153,153,1);
}
.guyong1-nine span:nth-child(2){
    font-size:14px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.guyong1-nine span:nth-child(3){
    margin-left: 5px;
    border-bottom: 1px solid #ff5251;
    cursor: pointer;
    font-size:12px;
    font-weight:500;
    color:rgba(255,82,81,1);
}
.guyong1-ten{
    width: 280px;
    height: 33px;
    margin-left: 25px;
    margin-top: 15px;
    line-height: 33px;
}
.guyong1-ten input{
    width: 114px;
    height: 33px;
    margin-left: 5px;
    margin-right: 34px;
    text-align: center;
    font-size:14px;
    font-weight:500;
    color:rgba(255,82,81,1);
    border:1px solid rgba(231,231,231,1);
}
.guyong1-ten span{
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(153,153,153,1);
}
.guyong2-one{
    width: 820px;
    height: 33px;
    line-height: 33px;
    margin-left: 25px;
    margin-top: 7px;
}
.guyong2-one input{
    width: 113px;
    height: 31px;
    text-align: center;
    margin-left: 10px;
    border:1px solid rgba(231,231,231,1);
    cursor: pointer;
}
.guyong2-two{
    float: left;
    width: 113px;
    height: 33px;
    text-align: center;
    margin-left: 10px;
    border:1px solid rgba(231,231,231,1);
    cursor: pointer;
}
.guyong2-two span{
    font-size:14px;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.guyong2-two:hover{
    background-color: #ff5251;
}
.guyong2-two:hover span{
    color: white;
}
.guyong2-three{
    width: 810px;
    height: 140px;
    margin-left: 20px;
    margin-top: 12px;
    border:1px solid rgba(231,231,231,1);
    line-height: 30px;
}
.guyong2-three span{
    margin-left: 15px;
    font-size:14px;
    font-weight:500;
    color:rgba(153,153,153,1);
}
.guyong2-four{
    width: 810px;
    height: 78px;
    margin-left: 20px;
    margin-top: 10px;
    background:rgba(244,244,244,1);
    border:1px solid rgba(231,231,231,1);
}
.guyong2-five{
    float: left;
    width: 38px;
    height: 38px;
    margin-left: 19px;
    margin-top: 23px;
    text-align: center;
    line-height: 34px;
    border:1px solid rgba(188,188,188,1);
    cursor: pointer;
}
.guyong2-five span{
    font-size: 30px;
    color: #bcbcbc;
}
.guyong2-six{
    float: left;
    margin-left: 8px;
    margin-top: 20px;
}
.guyong2-six span{
    font-size:14px;
    font-weight:500;
    color:rgba(153,153,153,1);
}
.guyong2-seven{
    margin-left: 20px;
    margin-top: 25px;
}
.guyong2-seven span{
    font-size:20px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
}
.guyong2-eight{
    margin-top: 30px;
    margin-left: 113px;
    font-size:14px;
    font-weight:500;
    color:rgba(102,102,102,1);
}
.guyong2-eight span{
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(102,102,102,1);
}
.guyong2-nine{
    margin-left: 112px;
    margin-top: 20px;
    font-size:16px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(51,51,51,1);
}
.guyong2-nine span{
    font-size:20px;
    font-weight:600;
    color:rgba(255,82,81,1);
}
.guyong2-ten{
    margin-left: 78px;
    margin-top: 14px;
    font-size:14px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(153,153,153,1);
}
.guyong2-ten input{
    margin-right: 7px;
    cursor: pointer;
    width:18px;
    height:18px;
    background:rgba(244,244,244,1);
    border:1px solid rgba(188,188,188,1);
    position: relative;
    top: 4px;
}
.theend-one{
    width: 122px;
    height: 41px;
    text-align: center;
    line-height: 41px;
    float: left;
    margin-top: 60px;
    margin-left: 264px;
    background-color: #ff5251;
    cursor: pointer;
}
.theend-one span{
    font-size:16px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,255,255,1);
}
.theend-two{
    margin-left: 19px;
    margin-top: 70px;
    float: left;
    font-size:16px;
    font-family:PingFangSC-Semibold;
    font-weight:600;
    color:rgba(255,82,81,1);
    cursor: pointer;
}