<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>比目鱼</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/rollpage.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/personalhome.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/layui.css" rel="stylesheet" >
    <link href="/css/sousuo.css" rel="stylesheet" >
    <link href="/css/Navigation.css" rel="stylesheet">
    <script src="/js/layui.js"></script>
    <script src="/js/Navigation.js"></script>
</head>
<body>
<div class="headerpage" th:replace="header :: header">
</div>
<div style="background-color: #F4F4F4 ;width: 100% ">
    <div class="jijiji"></div>
    <!--两个div-->
    <div style="margin-left: 360px;margin-top: 20px">
        <font style="font-size: 14px" color="#7D7D7D">
            我的小红鱼>个人中心><font id="path3">帖子收藏</font></font>
    </div>
    <div style="width:1240px;" class="container">
        <div style="float: left">
            <!--左-->
            <div class="leftpage" th:replace="left :: left"></div>
        </div>
        <!--右-->
        <div id="collectionContent" style="float: left"  >
            <div class="panel panel-default" style="margin-left: 20px;margin-top: 10px" >
                <div class="panel-body" style="width: 1002px;background-color: white;" >
                    <div style="width: 970px;height: 46px;border-bottom:solid 1px #E7E7E7">
                        <div style="float: left;">
                            <img src="img/Rectangle@2x.png" width="6px" height="20px" style="margin-top: 10px;margin-left: 22px" ></div>
                        <div style="margin-top: 5px;float: left">
                            <b style="font-size: 20px;margin-left: 16px;">帖子收藏</b>
                        </div>

                    </div>
                    <div style="margin-top: 20px;">
                        <div style="float: left;">
                            <font style="font-size: 16px;margin-left: 20px;">收藏时间</font>
                            <input type="text" style="width: 100px;height: 30px;margin-left: 10px;">&nbsp;一<input type="text" style="width: 100px;height: 30px;margin-left: 2px;">
                        </div>
                        <div style="float: left;">
                            <input  type="text" style="width: 131px;height: 32px;float: left;margin-left: 455px;;padding-left: 10px"  placeholder="请输入搜索内容" >
                            <button  style="position: absolute; color: red;outline: none;border:none;background:#FF5251;height: 32px;width: 50px;float: left"><img src="/img//fdj.png" width="20px"></button>
                        </div>

                    </div>

                    <div style="margin-left: 21px;">
                        <div style="float: left;height: 150px;margin-top: 10px">
                            <img src="/img//4561.png" style="width: 200px;padding-top: 10px">
                        </div>
                        <div style="float: left;margin-left: 20px;padding-top: 28px;width: 650px">

                            <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                            <br>
                            <p style="margin-top: 10px;line-height: 18px">
                                本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                Unreal Engine 4虚幻游戏引擎快速</p>
                            <div >
                                <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                            </div>

                        </div>

                    </div>


                    <table class="table" style="padding-top: 10px">


                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4562.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4563.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4561.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4562.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4563.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4561.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4562.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4563.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4561.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4562.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                        <tr style="height: 160px">
                            <td  >
                                <div style="margin-left: 13px;">
                                    <div style="float: left">
                                        <img src="/img//4563.png" style="width: 200px;padding-top: 10px">
                                    </div>
                                    <div style="float: left;margin-left: 20px;padding-top: 18px;width: 650px">

                                        <b style="font-size: 16px;color: #FF5251">Unreal Engine 4虚幻游戏引擎快速入门视频教程第一季 attach_img</b>
                                        <br>
                                        <p style="margin-top: 10px;line-height: 18px">
                                            本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4
                                            虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的Unreal Engine 4虚幻游戏引擎快速本视频教程是由Digital-Tutors机构出品的
                                            Unreal Engine 4虚幻游戏引擎快速</p>
                                        <div >
                                            <img src="/img//dianzan.png" width="12" style="margin-left: 300px;">  <font style="margin-left: 5px;"> 12435</font>
                                            <img src="/img//liulan.png" width="15" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 2345</font>
                                            <img src="/img//pinglun.png" width="13" style="margin-left: 30px;">   <font style="margin-left: 5px;"> 6754</font>
                                        </div>

                                    </div>

                                </div>
                            </td>


                        </tr>
                    </table>


                </div>
            </div>



        </div>
    </div>
</div>
<script src="/js/index.js"></script>
<input type="hidden" id="tokenVal" th:value="${token}">
<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-Releasedemand">

            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" style="color: red">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">发布需求</h4>
            </div>
            <div class="modal-body ">
                <div>
                    <div class="needinput">
                        <p>我需要:</p>

                        <textarea type="text" id="ineed" style="height: 80px;" maxlength="25"></textarea>
                    </div>
                    <div class="modal-phonenum">
                        <p>手机号码:</p>
                        <input type="text" placeholder="手机号" th:value="${phonenum}"
                               id="phonenum">
                        <button onclick="abledBtn();">修改</button>
                    </div>
                    <div class="messageprotect">
                        <p>信息保护中,仅小红鱼项目方可见</p>
                        <button id="release" onclick="publishTask()"
                                style="color: #FFFFFF">免费发布一个需求
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>