<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header class="container-fluid" th:fragment="header">
    <div class="row paddtop">
        <div class="col-md-4 col-sm-6  hidden-xs hidden-sm logopadd">
            <img src="/img/BIMUYU.png" class="img-responsive" style="float: right">
        </div>

        <div class="col-md-5 col-xs-10 col-sm-10" >
            <nav class="navbar navbar-default" style="background:#ffffff;border: none;font-size: 18px">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">首页</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li> <a href="/xyt/index">小鱼塘</a></li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我的小红鱼 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/taskCollection"  >我的收藏</a></li>
<!--                                    <li><a href="/publishperson"  >我发布购买计划</a></li>-->
<!--                                    <li><a href="/partTask"  >参与出售的设计</a></li>-->
<!--                                    <li><a href="/collectionofPosts"  >我的足迹</a></li>-->

                                    <li role="separator" class="divider"></li>
                                    <li><a href="/personal/index" style="text-decoration: none;color: #333333;display: block">我的小红鱼</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/access/index" >考核</a></li>
                                    <!--                                    <li><a href="/openvip/index" >会员订购</a></li>-->
                                    <li><a href="/helpcenter/index" >帮助中心</a></li>
                                    <li><a href="/rule/index" >规则中心</a></li>
                                    <li><a href="/uploadworks/index" >上传作品</a></li>
                                    <!--                                    <li><a href="/sellworkservice/index" >出售设计服务</a></li>-->
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li class="dropdown visible-xs visible-sm">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">个人中心 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ><a href="/myWork" >我的作品</a></li>
                                    <li><a href="/homeStore" >我的主页店铺</a></li>
                                    <li><a href="/skillslable" >技能标签设置</a></li>
                                    <li><a href="/collectionofPosts" >作品收藏</a></li>
                                </ul>
                            </li>

                            <li class="dropdown visible-xs visible-sm">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">账号管理 <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li ><a href="/accountManagemet" >基本资料</a></li>
                                    <li><a href="/autonym" >实名认证</a></li>
                                    <li><a href="/skillslable" >银行卡认证</a></li>
                                    <li><a href="/loginpwdmodify" >登录密码修改</a></li>
                                    <li><a href="/pwdmodify" >支付密码修改</a></li>
                                    <li><a href="/emailAuthentication" >邮箱认证</a></li>
                                    <li><a href="/phonecertification" >手机认证</a></li>
                                    <li><a href="/xhyAccountBinding" >第三方账号绑定</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-3 col-xs-2 col-sm-2" >
            <p class="registerlogin" style="margin-top: 15px;display: block;font-size: 18px;">
                <a href="/passport/index?returnUrl=http://localhost:80/" style="color: #333333;text-decoration: none" >登录</a>
            </p>
            <div style="float: left;font-size: 18px">

                <p style="float: left;">
                <li class="dropdown" style="list-style: none;position: relative;display: none;" id="headp">
                    <img class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="width: 52px;height: 52px;border-radius: 50%;" src="/img/y.jpg" id="headPic" alt="">
                    <ul class="dropdown-menu">
                        <li><a href="/personal/index" >个人中心</a></li>
                        <li><a href="/accountManagemet" >账号管理</a></li>
                        <li><a href="/message/index" ><span style="float: left;">消息</span><div style="width: 32px;height: 20px;color: white;float: left;border-radius: 10px;background-color: #ff5251;text-align: center;margin-left: 10px;">125</div></a></li>
                        <li><a href="/growup/index" >店铺管理</a></li>
                    </ul>
                    <span id="nickname1" class="hidden-xs">小交易鱼</span>
                </li>
                </p>

            </div>
            <div style="margin-top: 14px;margin-left: 10px;display: none" class="exit">
                <input type="button" style="background:none;border: solid 1px white;outline: none;" class="loginout" value="退出"/></div>
         </div>

        </div>
        <div style="clear: both"></div>
    </div>
</header>

</body>
</html>
