<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" CONTENT="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Title</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link href="/css/indextest.css">
    <script src="/js/headpic.js"></script>
    <style>
        .paddtop{
            padding: 15px 0 0 0;
        }
        .cardpadd{
            padding: 20px 0 0 0;
        }
        .logopadd{
            padding-right: 3%;
        }
        .btn-default{
            border: none;
            height: 50px;

        }
        .btn-default:hover{
            background: none;
        }
    </style>
</head>
<body>
<div class="headerpage" th:replace="header :: header">

</div>
 <div class="">
     <img src="/img/278.png" class="img-responsive hidden-xs">
     <img src="/img/biglogo.png" class="img-responsive hidden-lg hidden-md hidden-sm " >
 </div>
 <div>
     <img src="/img/redbanner110.png" class="img-responsive hidden-xs">

     <!--已登录状态-->
     <div style="margin-top: 20px;" class="exit">
         <input type="button" style="width: 40px;height: 30px;background:none;border: solid 1px white;outline: none;" class="loginout" value="退出"/></div>
        </div>
 </div>



<!--主体部分-->
<div class="container ">
    <div class="row container">
        <h1 align="center">活动入口</h1>
    </div>
    <div class="row container">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd"align="center" >
            <div class="img-thumbnail"align="center">

                <img src="/img/img1.png" alt="" width="210px" height="170px">

                <div style="height: 100px">
                    <div>
                        <span>产品宣传画册-3</span>
                        <br>
                        <span style="font-size: 10px">插画-商业插画</span>
                    </div>

                    <div >
                        <img src="/img/icon1.png" alt="" width="21px" height="21px">
                        <span>小路ge</span>
                        <span>1天前</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
            <div class="img-thumbnail">

                <img src="/img/img1.png" alt="" width="210px" height="170px">

                <div style="height: 100px">
                    <div>
                        <span>产品宣传画册-3</span>
                        <br>
                        <span style="font-size: 10px">插画-商业插画</span>
                    </div>

                    <div >
                        <img src="/img/icon1.png" alt="" width="21px" height="21px">
                        <span>小路ge</span>
                        <span>1天前</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 cardpadd"align="center" >
            <div class="img-thumbnail"align="center">

                <img src="/img/img1.png" alt="" width="210px" height="170px">

                <div style="height: 100px">
                    <div>
                        <span>产品宣传画册-3</span>
                        <br>
                        <span style="font-size: 10px">插画-商业插画</span>
                    </div>

                    <div >
                        <img src="/img/icon1.png" alt="" width="21px" height="21px">
                        <span>小路ge</span>
                        <span>1天前</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 cardpadd" align="center">
            <div class="img-thumbnail">

                <img src="/img/img1.png" alt="" width="210" height="170px">

                <div style="height: 100px">
                    <div>
                        <span>产品宣传画册-3</span>
                        <br>
                        <span style="font-size: 10px">插画-商业插画</span>
                    </div>

                    <div >
                        <img src="/img/icon1.png" alt="" width="21px" height="21px">
                        <span>小路ge</span>
                        <span>1天前</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 cardpadd"align="center" >
            <div class="img-thumbnail"align="center">

                <img src="/img/img1.png" alt="" width="210px" height="170px">

                <div style="height: 100px">
                    <div>
                        <span>产品宣传画册-3</span>
                        <br>
                        <span style="font-size: 10px">插画-商业插画</span>
                    </div>

                    <div >
                        <img src="/img/icon1.png" alt="" width="21px" height="21px">
                        <span>小路ge</span>
                        <span>1天前</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 cardpadd" align="center">
            <div class="img-thumbnail">

                <img src="/img/img1.png" alt="" width="224px" height="170px">

                <div style="height: 100px">
                    <div>
                        <span>产品宣传画册-3</span>
                        <br>
                        <span style="font-size: 10px">插画-商业插画</span>
                    </div>

                    <div >
                        <img src="/img/icon1.png" alt="" width="21px" height="21px">
                        <span>小路ge</span>
                        <span>1天前</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 cardpadd"align="center" >
            <div class="img-thumbnail"align="center">

                <img src="/img/img1.png" alt="" width="210px" height="170px">

                <div style="height: 100px">
                    <div>
                        <span>产品宣传画册-3</span>
                        <br>
                        <span style="font-size: 10px">插画-商业插画</span>
                    </div>

                    <div >
                        <img src="/img/icon1.png" alt="" width="21px" height="21px">
                        <span>小路ge</span>
                        <span>1天前</span>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
<!--分页-->
 <div class="container" align="center">
     <nav aria-label="Page navigation" >
         <ul class="pagination">
             <li>
                 <a href="#" aria-label="Previous">
                     <span aria-hidden="true">&laquo;</span>
                 </a>
             </li>
             <li><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
             <li><a href="#">5</a></li>
             <li>
                 <a href="#" aria-label="Next">
                     <span aria-hidden="true">&raquo;</span>
                 </a>
             </li>
         </ul>
     </nav>
 </div>

<footer class="container-fluid"> 

</footer>

<script>
    $(".loginout").click(function () {
        $.post("/index/loginOut", {}, function (url) {
            window.location.href = url;
        });
    })
</script>
</body>
</html>