<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/rollpage.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/personalhome.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="headerpage" th:replace="header :: header">
</div>
<div style="background-color: #F4F4F4 ;width: 100% ">
    <div class="jijiji"></div>
    <!--两个div-->
    <div style="margin-left: 360px;margin-top: 20px">
        <font style="font-size: 14px" color="#7D7D7D">
            我的小红鱼>个人中心><font id="path3">我的发票</font></font>
    </div>
    <div style="width:1240px;" class="container">
        <div style="float: left">
            <!--左-->
            <div class="leftpage" th:replace="left :: left"></div>
        </div>
        <!--右-->
        <div style="float: left"  >
            <div class="panel panel-default" style="margin-left: 17px;margin-top: 10px" >
                <div class="panel-body" style="width: 1002px;height: 1495px;background-color: white;" >
                    <div style="width: 970px;height: 46px;border-bottom:solid 1px #E7E7E7">
                        <div style="float: left;">
                            <img src="/img/Rectangle@2x.png" width="6px" height="20px" style="margin-top: 10px;margin-left: 22px" ></div>
                        <div style="margin-top: 5px;float: left">
                            <font style="font-size: 20px;margin-left: 16px;"><b>我的发票</b></font></div>
                        <div style="float: left;margin-top: 10px">
                            <a style="margin-left: 690px;color: #46A4FF">
                                修改税务局账号信息</a>
                        </div>
                    </div>

                    <div style="margin-top: 32px;margin-left: 39px;">
                        <button type="button" style="background-color: #FF5251;width:143px;height: 33px;border-radius: 0;border: none"  class="btn btn-default">
                            <font color="white" style="font-size: 16px">
                                我开具的发票
                            </font>
                        </button>
                        <button type="button" style="background-color: #FF5251;width:143px;height: 33px;margin-left: 17px;border-radius: 0;border: none"  class="btn btn-default">
                            <font color="white" style="font-size: 16px">
                                我申请的发票
                            </font>
                        </button>
                    </div>
                    <div style="margin-top: 20px;">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist" style="width: 940px;">
                            <li role="presentation" class="active" style="margin-left: 30px;"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">企业自开</a></li>

                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">个人代开</a></li>

                        </ul>

                        <!-- Tab panes -->

                    </div>

                    <div style="margin-left: 10px;width: 1000px;font-weight: 600;">
                        <div style="float: left;margin-top: 17px;">
                            发票编号
                            <input type="text"style="width: 80px;height:20px;background-color: #EFEFEF;border: none">
                        </div>
                        <div style="float: left;margin-left: 25px;margin-top: 17px;">
                            任务号/订单号
                            <input type="text"style="width: 80px;height:20px;background-color: #EFEFEF;border: none">
                        </div>
                        <div style="float: left;margin-left: 25px;margin-top: 17px;">
                            开票方名称
                            <input type="text"style="width: 80px;height:20px;background-color: #EFEFEF;border: none">
                        </div>
                        <div style="float: left;margin-left: 25px;margin-top: 17px;">
                            发票状态
                            <input type="text"style="width: 80px;height:20px;background-color: #EFEFEF;border: none">
                        </div>
                        <div style="float: left;margin-left:25px;margin-top: 17px;">
                            发票类型
                            <input type="text"style="width: 80px;height:20px;background-color: #EFEFEF;border: none">
                        </div>
                        <div style="float: left;margin-left: 30px;margin-top: 13px;">
                            <button type="button" style="background-color: #FF5251;color: white;border: none;width: 69px;height: 27px" >搜索</button>
                        </div>
                    </div>

                    <div style="margin-top: 70px;margin-left: 5px;text-align: center"  >
                        <table style="height: 900px;width: 962px;"  >

                            <tr style="height: 41px;background-color: #F4F4F4;font-weight: 600">
                                <td width="60px">编号</td>
                                <td>交易信息</td>
                                <td width="200px">金额/发票类型/服务名称</td>
                                <td width="200px">发票信息</td>
                                <td>状态</td>
                                <td>申请时间</td>
                                <td>操作</td>
                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>
                            <tr style="height: 102px;border-bottom: solid 1px #ECECEC;color: #999999;font-size: 12px">
                                <td >
                                    <font style="color: #999999">0845</font>
                                </td>
                                <td width="180px">
                                    <font>
                                        <p style="padding-top: 15px">商户:北京比目鱼有限公司</p>
                                        <p>来自:编号#0048</p>
                                        <p>雇主id:77687655</p>
                                    </font>

                                </td>
                                <td>
                                    <font>
                                        ¥80赠值税/普通发票
                                    </font>
                                </td>
                                <td>
                                    <font>
                                        <p style="padding-top: 15px">性质:个人</p>
                                        <p>发票抬头:北京比目鱼公司</p>
                                        <p>邮寄方式:其他</p>
                                    </font>

                                </td>
                                <td>
                                    <font style="color: #FF5251">待寄出</font>

                                </td>
                                <td>
                                    <font>2019-18-09</font>

                                </td>
                                <td>
                                    <font style="color: #46A4FF">更多</font>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="4">

                                </td>
                                <td colspan="3">
                                    <div style="float: left;margin-top: 13px;">
                                        <button type="button" style="background-color: #FF5251;color: white;border: none;width: 66px;height: 28px;font-size: 10px" >合并开票</button>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="7">
                                    <div style="margin: 35px 0" id="paging"  frm="xyt_pushForm" pageIndex="1" totalPageCount="10" totalCount="100">
                                        <script>
                                            $.ajax({
                                                url : "./rollpage.html",
                                                cache : true,
                                                async : false,
                                                dataType:"html",
                                                success : function(html) {
                                                    $("#paging").html('');
                                                    $("#paging").append(html);
                                                }
                                            });
                                        </script>
                                    </div>
                                </td>
                            </tr>

                        </table>

                    </div>



                </div>
            </div>



        </div>
    </div>
</div>
<script src="/js/index.js"></script>
<input type="hidden" id="tokenVal" th:value="${token}">
<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-Releasedemand">

            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" style="color: red">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">发布需求</h4>
            </div>
            <div class="modal-body ">
                <div>
                    <div class="needinput">
                        <p>我需要:</p>

                        <textarea type="text" id="ineed" style="height: 80px;" maxlength="25"></textarea>
                    </div>
                    <div class="modal-phonenum">
                        <p>手机号码:</p>
                        <input type="text" placeholder="手机号" th:value="${phonenum}"
                               id="phonenum">
                        <button onclick="abledBtn();">修改</button>
                    </div>
                    <div class="messageprotect">
                        <p>信息保护中,仅小红鱼项目方可见</p>
                        <button id="release" onclick="publishTask()"
                                style="color: #FFFFFF">免费发布一个需求
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>

