<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="panel panel-default left-personalcenter" style="margin-top: 10px;border-radius: 0" th:fragment="left">

    <div class="panel-body" style="width: 178px;height: 60px;border-bottom: solid 3px #F4F4F4">

        <font style="font-size: 20px;color: #333333"><b>个人中心</b></font>
        <font style="font-size: 12px;margin-left: 12px;" id="accountManagement"><a style=" color: #1B69CD" >账号管理</a></font>

    </div>
    <div class="panel-body showpath" style="width: 178px;margin: 0;padding: 0" id="clickToChangeColor">

<!--        <div style="margin-top: 18px" class="hover2">-->
<!--            <font style="font-size: 16px;padding-left: 10px">-->
<!--                <b>我的小红鱼</b>-->
<!--            </font>-->
<!--            <p style="margin-top: 20px" id="myIntegral"><a>我的积分</a></p>-->
<!--            <p id="MyProps"><a>我的道具</a></p>-->
<!--            <p id="coupon"><a>我的优惠券</a></p>-->
<!--        </div>-->
<!--        <div style="margin-top: 18px" class="hover2">-->
<!--            <font style="font-size: 16px;padding-left: 10px">-->
<!--                <b>我是发包方</b>-->
<!--            </font>-->

<!--            <p style="margin-top: 20px" id="publish"><a>我发布的任务</a></p>-->
<!--            <p id="buyProduction"><a>我购买的设计</a></p>-->
<!--            <p id="fbfpage"><a>发包方主页</a></p>-->
<!--            <p id="sellreputation"><a>信誉评价</a></p>-->
<!--            <p id="invoice"><a>我的发票</a></p>-->

<!--        </div>-->
        <div style="margin-top: 18px" class="hover2">
            <font style="font-size: 16px;padding-left: 10px">
                <b>我是小红鱼设计师</b>
            </font>
<!--            <p style="margin-top: 20px" id="partTask"><a>我参与的任务</a></p>-->
            <p id="myWork" style="margin-top: 20px"><a>我的作品</a></p>
<!--            <p id="sellWork"><a>已出售作品</a></p>-->
            <p id="HomeStore"><a>我的主页店铺</a></p>
<!--            <p id="shopsServiceEmpty"><a>店铺服务</a></p>-->
            <p id="skillslable"><a>技能标签设置</a></p>
            <p id=""><a>作品收藏</a></p>

            <!--<p id="ParticipateDesign"><a >参与出售的设计</a></p>-->
<!--            <p id="AbilityEvaluation"><a>能力评价</a></p>-->
<!--            <p id="GuardContainer"><a>诚信卫士</a></p>-->

        </div>

<!--        <div style="margin-top: 18px" class="hover2">-->
<!--            <font style="font-size: 16px;padding-left: 10px">-->
<!--                <b>关注收藏</b>-->
<!--            </font>-->

<!--            <p style="margin-top: 20px" id="taskcollection"><a>任务收藏</a></p>-->
<!--            <p id="userCollect"><a>用户收藏</a></p>-->
<!--            <p id="CollectionofPosts"><a>帖子收藏</a></p>-->
<!--    -->

<!--        </div>-->
<!--        <div style="margin-top: 18px" class="hover2">-->
<!--            <font style="font-size: 16px;padding-left: 10px">-->
<!--                <b>保障服务</b>-->
<!--            </font>-->

<!--            <p style="margin-top: 20px" id="myrefund"><a>我的退款</a></p>-->
<!--            <p id="myreport"><a>我的举报</a></p>-->
<!--            <p id="Myrightsdefense"><a>我的维权</a></p>-->

<!--        </div>-->

    </div>

</div>
</body>
</html>

