<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/my_work.css" />
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/rollpage.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/personalhome.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .cardpadd{
           padding-top: 10px;
        }
        .workbread{
            padding-top: 10px;
        }
        .paddtop{
            padding: 15px 0 0 0;
        }
        .logopadd{
            padding-right: 3%;
        }


    </style>
</head>
<body>
<div class="headerpage" th:replace="header :: header">
</div>

<div style="background-color: #F4F4F4 ;width: 100%;padding-bottom: 200px ">
    <img src="/img/redbanner110.png" class="img-responsive">
    <!--两个div-->

    <div  class="container">
        <div align="left" class="workbread">
            <font  color="#7D7D7D">
                我的小红鱼>个人中心><font id="path3">我的作品</font></font>
        </div>
        <div style="float: left" class="hidden-xs hidden-sm">
            <!--左-->
            <div class="leftpage" th:replace="left :: left"></div>
        </div>
        <!--右-->
        <div class="left-one" >
<!--            <div class="left-two" style="border-bottom: solid 1px red">-->
<!--                <img src="/img/Rectangle.png" height="20" width="6" alt="" />-->
<!--                <span>我的作品</span>-->
<!--            </div>-->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive" height="170px">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive" >

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive" height="170px">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive" >

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive" height="170px">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive">

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 cardpadd" align="center">
                <div class="img-thumbnail">

                    <img src="/img/img1.png" alt="" class="img-responsive" >

                    <div style="height: 100px">
                        <div>
                            <span>产品宣传画册-3</span>
                            <br>
                            <span style="font-size: 10px">插画-商业插画</span>
                        </div>

                        <div >
                            <img src="/img/icon1.png" alt="" width="21px" height="21px">
                            <span>小路ge</span>
                            <span>1天前</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<script src="/js/index.js"></script>
<input type="hidden" id="tokenVal" th:value="${token}">
</body>
</html>