<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" CONTENT="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>比目鱼</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/rollpage.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/personalhome.css">

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/skillslable.css">
    <link rel="stylesheet" th:href="@{/css/farenwu.css}">
</head>
<body>
<div class="headerpage" th:replace="header :: header">
</div>

<div style="background-color: #F4F4F4 ;">
    <div class="jijiji"></div>
    <!--两个div-->
    <div style="margin-left: 360px;margin-top: 20px">
        <font style="font-size: 14px" color="#7D7D7D">
            我的小红鱼>个人中心><font id="path3">个人信息</font></font>
    </div>
    <div style="width:1240px;" class="container">
        <div class="hidden-xs" style="float: left">
            <!--左-->
            <div class=" leftpage" th:replace="left :: left"></div>
        </div>
        <!--右-->
        <div id="collectionContent1" th:include="PersonalHome :: PersonalHome"></div>
    </div>
</div>

<script src="/js/index.js"></script>
<input type="hidden" id="tokenVal" th:value="${token}">
<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-Releasedemand">

            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" style="color: red">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">发布需求</h4>
            </div>
            <div class="modal-body ">
                <div>
                    <div class="needinput">
                        <p>我需要:</p>

                        <textarea type="text" id="ineed" style="height: 80px;" maxlength="25"></textarea>
                    </div>
                    <div class="modal-phonenum">
                        <p>手机号码:</p>
                        <input type="text" placeholder="手机号" th:value="${phonenum}"
                               id="phonenum">
                        <button onclick="abledBtn();">修改</button>
                    </div>
                    <div class="messageprotect">
                        <p>信息保护中,仅小红鱼项目方可见</p>
                        <button id="release" onclick="publishTask()"
                                style="color: #FFFFFF">免费发布一个需求
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>