<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" CONTENT="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>比目鱼</title>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/iF.step.css" rel="stylesheet" type="text/css">
    <link href="/css/rollpage.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/left2.css">
    <script src="/js/headpic.js"></script>
    <style>
        *{
            margin: 0;
            padding: 0;
            float: none;
        }
        @media (min-width: 1200px) {
            .left-one {
                width: 950px;
            }
        }
        .rpwdmsg p{
            margin: 0;
        }

    </style>
</head>
<body>

<div class="headerpage" th:replace="header :: header"></div>
<div style="background-color: #F4F4F4 ;width: 100% ">
    <div class="jijiji"></div>
    <!--两个div-->
    <div  class="container">
        <div class="row">
            <font  color="#7D7D7D" style="margin-left: 15px">
                我的小红鱼>账号管理><font id="path3">手机认证</font>
            </font>
        </div>
        <div style="float: left" class="hidden-xs hidden-sm">
            <!--左-->
            <div class="leftpage" th:replace="left2 :: left2"></div>
        </div>
        <!--右-->
        <div class="panel panel-default left-one container" style="float:left;margin: 10px 0 0 10px;padding: 20px  10px 100px 10px" >
                <div style="border-bottom:solid 1px #E7E7E7;padding: 0px 0 10px 0">
                    <img src="/img/Rectangle@2x.png" width="6px" height="20px" style="margin-top: 10px;margin-left: 22px;float: left;" >
                    <b style="font-size: 20px;margin-left: 16px;margin-top: 5px;float: left">手机认证</b>
                    <div style="clear: both"></div>
                </div>


                    <div style="font-size: 16px;margin-top: 100px" align="center">
                        手机号码：<span style="font-size: 14px">184****3616</span>
                        <img src="/img/chenggong.png" width="20"  >
                        <span style="color: #999999;font-size: 12px;line-height: 20px;">已绑定</span>
                        <div style="clear: both">
                        </div>
                        <button style="background:#FF5251;;width: 100px;height: 40px;margin-top: 50px;color: #FFFFFF;border: none">
                            修改号码
                        </button>

                    </div>
            <div class="rpwdmsg" style="background:#F3F4F8;margin: 100px 50px 0 50px;padding: 20px">
                <p style="color: #333333;font-size: 16px;font-weight: 600;">常见问题:</p>
                <p style="color: #333333">1.无法获取短信验证码怎么办？</p>
                <p style="color: #666666">短信到达需要1～2分钟，若您长时间未收到确认短信，建议您重发验证码。</p>
                <p style="color: #333333">2.手机卡号遗失，无法使用短信验证码怎么办？</p>
                <p style="color: #666666">您可以通过<a>申请人工审核</a>来取消原有手机的认证信息，然后重新进行认证。</p>
            </div>















        </div>

    </div>
</div>
<script src="/js/accountSetting.js"></script>
<input type="hidden" id="tokenVal" th:value="${token}">
<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-Releasedemand">

            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" style="color: red">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">发布需求</h4>
            </div>
            <div class="modal-body ">
                <div>
                    <div class="needinput">
                        <p>我需要:</p>

                        <textarea type="text" id="ineed" style="height: 80px;" maxlength="25"></textarea>
                    </div>
                    <div class="modal-phonenum">
                        <p>手机号码:</p>
                        <input type="text" placeholder="手机号" th:value="${phonenum}"
                               id="phonenum">
                        <button onclick="abledBtn();">修改</button>
                    </div>
                    <div class="messageprotect">
                        <p>信息保护中,仅小红鱼项目方可见</p>
                        <button id="release" onclick="publishTask()"
                                style="color: #FFFFFF">免费发布一个需求
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>