<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>比目鱼</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/dropzone/5.5.1/min/basic.min.css" rel="stylesheet">
    <link href="/css/dropzone.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/dropzone/5.5.1/min/dropzone.min.js"></script>

    <link rel="stylesheet" href="/css/uploadworks.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/headpic.js"></script>
    <script src="/js/easyUploader.js"></script>
    <script src="/layui/layui.js"></script>
    <script>
        $(function () {
            //jQuery代码;
            layui.use(['element', 'laydate', 'layer'], function () {
                var element = layui.element;
                var laydate = layui.laydate;
                var layer = layui.layer;
                //执行一个laydate实例
                laydate.render({
                    elem: '#test1' //指定元素
                });
            });
            var maxFileCount1 = 4;
            var typeArrays1 = ".png, .jpg, .jpeg, .ico, .bmp, .gif";
            Dropzone.options.dropz = {
                url: '/uploadworks/uploadImg',
                paramName: "file",
                maxFiles: maxFileCount1,
                maxFilesize: 50, // 上传图片大小，单位：MB
                acceptedFiles: typeArrays1,
                addRemoveLinks: true,
                parallelUploads: maxFileCount1,
                dictDefaultMessage: '点击或将单个/多个附件拖放到此处,最多可添加五个附件 每个大小不超过50M',
                dictFileTooBig: "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.",
                dictInvalidFileType: "文件类型只能是" + typeArrays1,
                dictRemoveFile: "移除附件",
                dictMaxFilesExceeded: "您一次最多只能上传" + maxFileCount1 + "个附件！",
                dictResponseError: "上传附件失败！",
                init: function () {
                    this.on("success", function (file, data) {
                    });
                    this.on('error', function (files, data) {
                    });
                },
                removedfile: function (a) {
                    // $.post("/publish/removeFile1",{filename:a.name,assignmentId:assignmentId},function (res) {
                    //
                    // });
                    // var b;
                    // return a.previewElement && null != (b = a.previewElement) && b.parentNode.removeChild(a.previewElement), this._updateMaxFilesReachedClass()

                }
            };

            var maxFileCount2 = 1;
            var typeArrays2 = ".avi, .mp4";
            Dropzone.options.dropz1 = {
                url: '/uploadworks/uploaderAvi',
                paramName: "file",
                maxFiles: maxFileCount2,
                maxFilesize: 50, // 上传图片大小，单位：MB
                acceptedFiles: typeArrays2,
                addRemoveLinks: true,
                parallelUploads: maxFileCount2,
                dictDefaultMessage: '点击或将单个/多个附件拖放到此处,最多可添加五个附件 每个大小不超过50M',
                dictFileTooBig: "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.",
                dictInvalidFileType: "文件类型只能是" + typeArrays2,
                dictRemoveFile: "移除附件",
                dictMaxFilesExceeded: "您一次最多只能上传" + maxFileCount2 + "个附件！",
                dictResponseError: "上传附件失败！",
                init: function () {
                    this.on("success", function (file, data) {
                    });
                    this.on('error', function (files, data) {
                    });
                },
                removedfile: function (a) {
                    // $.post("/publish/removeFile1",{filename:a.name,assignmentId:assignmentId},function (res) {
                    //
                    // });
                    // var b;
                    // return a.previewElement && null != (b = a.previewElement) && b.parentNode.removeChild(a.previewElement), this._updateMaxFilesReachedClass()

                }
            };
            var maxFileCount3 = 1;
            var typeArrays3 = ".png, .jpg, .jpeg";
            Dropzone.options.dropz2 = {
                url: '/uploadworks/uploaderCover',
                paramName: "file",
                maxFiles: maxFileCount3,
                maxFilesize: 50, // 上传图片大小，单位：MB
                acceptedFiles: typeArrays3,
                addRemoveLinks: true,
                parallelUploads: maxFileCount3,
                dictDefaultMessage: '点击或将单个/多个附件拖放到此处,最多可添加五个附件 每个大小不超过50M',
                dictFileTooBig: "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.",
                dictInvalidFileType: "文件类型只能是" + typeArrays3,
                dictRemoveFile: "移除附件",
                dictMaxFilesExceeded: "您一次最多只能上传" + maxFileCount3 + "个附件！",
                dictResponseError: "上传附件失败！",
                init: function () {
                    this.on("success", function (file, data) {
                    });
                    this.on('error', function (files, data) {
                    });
                },
                removedfile: function (a) {
                    // $.post("/publish/removeFile1",{filename:a.name,assignmentId:assignmentId},function (res) {
                    //
                    // });
                    // var b;
                    // return a.previewElement && null != (b = a.previewElement) && b.parentNode.removeChild(a.previewElement), this._updateMaxFilesReachedClass()

                }
            };
        });
    </script>

</head>
<body >
<div class="headerpage" th:replace="header :: header">
</div>

<div  class="bgc-uw">
    <!--2.-->
    <div class="banner-uw">
        <br>
        <div >
            <div class="welcome-uw">
                <p >尊敬的欧文，欢迎您回来！</p>
                <p>当前为普通会员,lv12</p>
            </div>
            <div class="Headportrait-uw">
                <img src="/img/stouxiang.png">
            </div>
        </div>
    </div>

    <div class=" btn-upwd"  >

            <div>
                <a href="#">上传作品</a>
            </div>
<!--            <div >-->
<!--                <a href="/sellworkservice/index">出售设计服务</a>-->
<!--            </div>-->


    </div>

    <div class="right-uw">
        <div class="panel panel-default right-uw-1" >
            <p>上传作品</p>
        </div>
        <div class="panel panel-default right-uw-2" >
            <div class="panel-heading">
                <p>作品信息</p>
            </div>
            <div class="panel-body" >
                <div class="worksname"id="wordCount">
                    <font>·</font>
                    <textarea placeholder="作品名称" id="worksTitle"></textarea>
                    <span class="wordwrap"><var class="word">20</var>/20</span>

                </div>
                <div class="select-type" id="wordCount1">
                    <font>·</font>
                    <select id="workType">
                        <option value ="0">请选择行业分类</option>
                        <option th:value ="${catalog1.id}" th:each="catalog1:${catalog1List}" th:text="${catalog1.name}"></option>
                    </select>
                    <select id="industry">
                        <option value ="0">请选择作品类型</option>
                    </select>
                    <textarea placeholder="作品说明" id="workDetail"></textarea>
                    <span class="wordwrap"><var class="word">2000</var>/2000</span>

                </div>


            </div>
        </div>
        <div class="panel panel-default right-uw-3" >
            <div class="panel-heading">
                <p>上传图片</p>
                <p>注：每个大小不超过2MB，最多可上传5张</p>
            </div>
            <div class="panel-body"  >
<!--                // 插入插件-->
                <div id="dropz" class="dropzone col-lg-2"></div>
            </div>
        </div>
        <div class="panel panel-default right-uw-4" >
            <div class="panel-heading">
                <p>上传视频</p>
                <p>最多上传/导入3个视频，单个视频不超过500M，视频作品将会展示在作品队列首位</p>
            </div>
            <div class="panel-body"  >
                <div id="dropz1" class="dropzone col-lg-2" ></div>
            </div>
        </div>
        <div class="panel panel-default right-uw-5" >
            <div class="panel-heading">
                <p>上传封面</p>
            </div>
            <div class="panel-body"  >
<!--                //插入-->
                <div id="dropz2" class="dropzone col-lg-2"></div>
            </div>
        </div>
        <div class="panel panel-default right-uw-6" >
            <div class="panel-heading">
                <p>出售设置</p>
                <p>作品售卖 价格设置 添加附件 创作时间等 </p>
            </div>
            <div class="panel-body"  >
                <div class="set-sell" >
                    <font >·</font>
                    <table>
                        <tr>
                            <td>出售</td>
                            <td>
                                <input type="radio" name="sell" value="1"> 是
                                <input type="radio" name="sell" value="0"> 否
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td >
                              <div class="uploadworkprice">
                                  作品价格：<input type="number" id="price"> 元（ 作品成交后，平台收取2%的手续费 ）
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <td>创作时间</td>
                            <td><input  type="text" id="test1"  placeholder="请选择时间" ></td>
                        </tr>
                        <tr>
                            <td>上传附件</td>
                            <td>
                                <div id="uploaderZip"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="uw-ConsentAgreement">
            <input type="checkbox" id="xiaohongyu">
            <font>我已阅读并同意 </font><a>《小红鱼诚信保证金协议》</a>

            <br>
            <button id="sureToSub">确认发布</button>
        </div>
    </div>
    <div style="clear: both"></div>
</div>
<script>
    $("#workType").change(function(){
        let idval = $(this).children('option:selected').val();
        $.post("/index/getCatalog2", {catalog1Id: idval}, function (result) {
            $.each(result, function (key, val) {
                var temp = " <option value =\""+val.id+"\">"+val.name+"</option>";
                $("#industry").append(temp);
            })
        });
    })
</script>
<script src="/js/uploadworks.js">
</script>

</body>
</html>