<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/bootstrap.css" rel="stylesheet" >
    <link href="../css/rollpage.css" rel="stylesheet">

    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link href="css/ViolationPublicity.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>


</head>
<body>
<div class="headerpage">
</div>
<div style="background-color: #F4F4F4 ;width: 100% "  >
    <div style=" background-image: url(../img/redbanner110.png);height: 110px; ">

        <br>
        <div class="" style="margin-left: 1100px;"  >
            <div class="row" style="float: left">
                <div style="padding-top: 30px" >
                    <input type="text" style="width: 150px;height: 27px;border:none;float: left;padding-left: 10px" placeholder="输入手机号"  >
                    <div style="float: left">
                        <input  type="text" style="width: 120px;height: 27px;border:none;float: left;margin-left: 15px;padding-left: 10px"  placeholder="验证码" >
                        <button button style="position: absolute; color: red;outline: none;border:none;background:white;height: 27px;width: 40px;float: left">获取</button></div>
                    <button type="button" style="background-color: #FF5251;width: 57px;height: 27px;border:solid 1px #ffffff;;margin-left: 55px"  >
                        <font color="white">
                            登陆
                        </font>
                    </button>
                </div>

            </div>
        </div>




    </div>

<div class="all">

    <p class="p1"><a href="#">规则中心</a> > <a href="#">违规公示</a></p>
<div class="panel1"  >

    <div class="panel-body1" id="clickToChangeColor"   >
       <a class="a1"href="ruleOverView.html">规则总览</a>
       <a class="a1"href="ruleUpdateNotice.html">规则更新公告</a>
       <a class="a1"href="#" style="color: #ff5251">违规公示</a>

    </div>

</div>

    <div class="panel2"  >

        <div class="panel-body" >
        <p class="p2">失信用户公示:</p>
            <p class="p3">以下用户在我平台监管过程中存在违反比目鱼网规则及存在不诚信行为，根据<a class="a2"> 《比目鱼服务规则》</a> <a class="a2">《比目鱼知识工作者管理规范》</a> <a class="a2">《比目鱼网举报和争议纠纷处理规则》 </a> 等规则，对以下用户予以清退处理。 </p>

            <table>
                <tr class="tr1" >
                    <td>序号</td>
                    <td>用户名称</td>
                    <td>用户身份</td>
                    <td>类型</td>
                    <td>联系电话</td>
                    <td>清退原因</td>
                    <td>处理时间</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>安徽一品</td>
                    <td>服务商</td>
                    <td>企业</td>
                    <td>173****9874</td>
                    <td>线下交易</td>
                    <td>2019-1-14</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>安徽一品</td>
                    <td>服务商</td>
                    <td>企业</td>
                    <td>173****9874</td>
                    <td>线下交易</td>
                    <td>2019-1-14</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>安徽一品</td>
                    <td>服务商</td>
                    <td>企业</td>
                    <td>173****9874</td>
                    <td>线下交易</td>
                    <td>2019-1-14</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>安徽一品</td>
                    <td>服务商</td>
                    <td>企业</td>
                    <td>173****9874</td>
                    <td>线下交易</td>
                    <td>2019-1-14</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>安徽一品</td>
                    <td>服务商</td>
                    <td>企业</td>
                    <td>173****9874</td>
                    <td>线下交易</td>
                    <td>2019-1-14</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>安徽一品</td>
                    <td>服务商</td>
                    <td>企业</td>
                    <td>173****9874</td>
                    <td>线下交易</td>
                    <td>2019-1-14</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>安徽一品</td>
                    <td>服务商</td>
                    <td>企业</td>
                    <td>173****9874</td>
                    <td>线下交易</td>
                    <td>2019-1-14</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>安徽一品</td>
                    <td>服务商</td>
                    <td>企业</td>
                    <td>173****9874</td>
                    <td>线下交易</td>
                    <td>2019-1-14</td>
                </tr>
            </table>
        </div>

    </div>
    <div style="margin: 35px 0" id="paging"  frm="xyt_pushForm" pageIndex="1" totalPageCount="10" totalCount="100">
        <script>
            $.ajax({
                url : "../rollpage.html",
                cache : true,
                async : false,
                dataType:"html",
                success : function(html) {
                    $("#paging").html('');
                    $("#paging").append(html);
                }
            });
        </script>
    </div>
</div>
</div>
<script>
    $(function () {
        $(".headerpage").load("../header/header.html");
    });
</script>
</body>
</html>