<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/header.css">
    <script src="/js/headpic.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/worksdetails.css" />
</head>
<body>
<div class="headerpage" th:replace="header :: header">
</div>
    <hr class="hr-one" />
    <div class="logo">
        <div class="top-one">
            <div class="inter-one"  >
                影视后计视频包装GUI扁平化卡 通动漫影视特效合成剪辑
            </div>
            <div class="inter-two">
                <span>2年前发布</span>
            </div>
            <div class="inter-three">
                <ul>
                    <li>原创视频/影视/短片</li>
                    <li>
                        <img src="/img/liuyan.png" height="15" width="16" alt="" />
                        <span>12435</span>
                        <img style="margin-left: 26px;" src="/img/dianzan.png" height="14" width="15" alt="" />
                        <span>2345</span>
                        <img style="margin-left: 26px;" src="/img/liulan.png" height="13" width="20" alt="" />
                        <span>6754</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="top-two">
            <div class="inter-four">
                <span>价格</span>
                <span>￥</span>
                <span>1140.00</span>
            </div>
            <div class="inter-five">
                建议先私信设计师，了解后再下单喔～～
            </div>
            <div class="inter-six">
                <span>立即购买</span>
            </div>
        </div>
        <div style="clear: both"></div>
        <div class="top-three">
            <div class="zhi">
                <img src="/img/hu.jpg" width="80px" height="80px" alt="" />
            </div>
            <div class="inter-seven">
                <div class="center-one">
                    <span>小路ge</span>
                </div>
                <div class="center-two">
                    <span>北京<span style="margin-left: 8px;">互联网</span></span>
                </div>
                <div class="center-three">
                    <div class="inter-eight">
                        <span>关注</span>
                    </div>
                    <div class="inter-nine">
                        <span>私信</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="center-four">
            <span class="change">根据公司微信公众号的一篇文章改编成mg动画视频，分享美，颠覆医美行业的APP。主要内容是介绍APP，暂无配音。</span>
        </div>
        <div class="shipin">

        </div>
        <div class="tupian">
            <img src="/img/zi.jpg" width="1200px" height="675px" alt="" />
            <img src="/img/zi.jpg" width="1200px" height="675px" alt="" />
        </div>

        <div class="center-seven">
            <img src="/img/dianzan-copy.png" height="43" width="42" alt="" />
        </div>
    </div>

    <div class="relatedworks" >
        <div style="">
            <div class="rw-title">
                <span style="float: left">相关作品</span>
                <a style="float: right">TA的主页</a>
            </div>
            <div>
                <div class="rw-works">
                    <img src="/img/1.png" >
                    <span>
                        拿走无人便利店
                    </span>
                </div>
                <div class="rw-works">
                    <img src="/img/1.png" >
                    <span>
                        拿走无人便利店
                    </span>
                </div>
                <div class="rw-works">
                    <img src="/img/1.png" >
                    <span>
                        拿走无人便利店
                    </span>
                </div>
                <div class="rw-works">
                    <img src="/img/1.png" >
                    <span>
                        拿走无人便利店
                    </span>
                </div>
                <div class="rw-works">
                    <img src="/img/1.png" >
                    <span>
                        拿走无人便利店
                    </span>
                </div>

                <div style="clear: both"></div>

            </div>

            <div class="leavemsg">
                <div class="leavemsg-comments">
                    <div class="worksname" id="wordCount">
                        <textarea placeholder="说点什么吧……"></textarea>
                        <span class="wordwrap"><var class="word">500</var>/500</span>
                    </div>
                    <button>评论</button>
                    <div style="clear: both"></div>
                </div>
                <div class="leavetbhead">
                    <b>全部留言</b>
                    <font><span>10</span>条</font>

                </div>
                <table class="leavetable">

                    <tr>
                        <td><img src="/img/ythmh.png"></td>
                        <td>
                            <b>小小鱼</b>
                            <font><span>20</span>天前</font>
                            <br>
                            <font>我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛
                                ···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···
                                ···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···
                                ···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···</font>

                        </td>
                        <td><img src="/img/pinglun.png" width="19px"></td>
                    </tr>
                    <tr>
                        <td><img src="/img/ythmh.png"></td>
                        <td>
                            <b>小小鱼</b>
                            <font><span>20</span>天前</font>
                            <br>
                            <font>我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛
                                ···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···
                            </font>

                        </td>
                        <td><img src="/img/pinglun.png" width="19px"></td>
                    </tr>
                    <tr>
                        <td><img src="/img/ythmh.png"></td>
                        <td>
                            <b>小小鱼</b>
                            <font><span>20</span>天前</font>
                            <br>
                            <font>我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛
                                ···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···
                                ···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···
                                ···我就说是大佬嘛···我就说是大佬嘛···我就说是大佬嘛···</font>

                        </td>
                        <td><img src="/img/pinglun.png" width="19px"></td>
                    </tr>


                </table>
                <!--留言分页-->
                <div align="center" style="margin-top: 30px">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
    </div>
<script>
    window.onload = function () {
        fontnum("#wordCount");
    }
    function fontnum(str) {
        //先选出 textarea 和 统计字数 dom 节点
        var wordCount = $(str),
            textArea = wordCount.find("textarea"),
            word = wordCount.find(".word");
        //调用
        statInputNum(textArea,word);
    }

    /*
    * 剩余字数统计
    * 注意 最大字数只需要在放数字的节点哪里直接写好即可 如：<var class="word">200</var>
    */
    function statInputNum(textArea,numItem) {
        var max = numItem.text(),
            curLength;
        textArea[0].setAttribute("maxlength", max);
        curLength = textArea.val().length;
        numItem.text(max - curLength);
        textArea.on('input propertychange', function () {
            numItem.text(max - $(this).val().length);
        });
    }

</script>

</body>
</html>