<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/xhyAccountBinding.css">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/iF.step.css" rel="stylesheet" type="text/css">
    <link href="/css/rollpage.css" rel="stylesheet" type="text/css">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/rollpage.js"></script>
    <link rel="stylesheet" href="/css/personalhome.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/left2.css">
    <script src="/js/headpic.js"></script>
</head>
<body>

<div class="headerpage" th:replace="header :: header"></div>
<div style="background-color: #F4F4F4 ;width: 100% ">
    <div class="jijiji"></div>
    <!--两个div-->
    <div style="margin-left: 360px;margin-top: 20px">
        <font style="font-size: 14px" color="#7D7D7D">
            我的小红鱼>账号管理><font id="path3">第三方账号绑定</font></font>
    </div>
    <div style="width:1240px;" class="container">
        <div style="float: left">
            <!--左-->
            <div class="leftpage" th:replace="left2 :: left2"></div>
        </div>
        <!--右-->
        <div class="xhyAbilityEvaluation" style="margin-left: 220px;">
            <div class="m1">
                <div class="r1"><img src="" alt="">
                    <h3>第三方账号绑定</h3></div>
            </div>
            <div class="m2" >
                <div class="r1" >
                    <div>
                        <img src="/img/QQ-2%20Copy.png" width="80px" height="80px" alt="">
                        <a>点击绑定</a>
                    </div>
                    <div>
                        <img src="/img/QQ-2.png" alt="" width="80px" height="80px">
                        <span>已绑定</span>
                    </div>
                </div>
                <div class="r1">
                    <div>
                        <img src="/img/weixin-3copy.png" width="80px" height="80px" alt="">
                        <a>点击绑定</a>
                    </div>
                    <div>
                        <img src="/img/weixin-3.png" alt="" width="80px" height="80px">
                        <span>已绑定</span>
                    </div>
                </div>
                <div class="r1">
                    <div>
                        <img src="/img/zhifubaocopy.png" width="80px" height="80px" alt="">
                        <a>点击绑定</a>
                    </div>
                    <div>
                        <img src="/img/zhifubao.png" alt="" width="80px" height="80px">
                        <span>已绑定</span>
                    </div>
                </div>
            </div>

            <div style= "width: 882px;height: 50px;border-bottom:1px dashed #E7E7E7;margin-left: 50px"></div>
            <div style="width: 882px;height: 55px;background-color:#F3F4F8;margin-left: 50px;margin-top: 40px;">

                <div style="color: #333333;width: 701px;height: 50px;margin-left: 92px;padding-top: 15px">
                    <FONT style="font-size: 16px">友情提示：</FONT>第三方是建立在第一方和第二方的基础上的另一方，绑定第三方账号，更加安全、快捷、方便！
                </div>
            </div>
            <script>
                var accounts=$(".xhyAbilityEvaluation .m2 .r1");
                $(accounts).map(function (i,e) {
                    $(e).attr("status")>0? $(e).children(":first").css("display","none") : $(e).children(":last").css("display","none");
                });
            </script>
        </div>
    </div>
</div>
<script src="/js/accountSetting.js"></script>
<input type="hidden" id="tokenVal" th:value="${token}">
<div class="modal" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-Releasedemand">

            <div class="modal-header ">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close" style="color: red">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">发布需求</h4>
            </div>
            <div class="modal-body ">
                <div>
                    <div class="needinput">
                        <p>我需要:</p>

                        <textarea type="text" id="ineed" style="height: 80px;" maxlength="25"></textarea>
                    </div>
                    <div class="modal-phonenum">
                        <p>手机号码:</p>
                        <input type="text" placeholder="手机号" th:value="${phonenum}"
                               id="phonenum">
                        <button onclick="abledBtn();">修改</button>
                    </div>
                    <div class="messageprotect">
                        <p>信息保护中,仅小红鱼项目方可见</p>
                        <button id="release" onclick="publishTask()"
                                style="color: #FFFFFF">免费发布一个需求
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>